.container{
    background-color: rgb(188, 186, 215);
}
.logo{
    font-size: 33px;
    font-family: Arial, Helvetica, sans-serif;
}
.p{
    font-style: italic;
    color: blue;
    font-size: 22px;
}